*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 2px solid #570a64;
  box-shadow: 2px 2px 5px white;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #222;
  cursor: url(/cursor.cur), pointer;
}
.calculator-app {
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 1.5em 1em;
}

.display {
  height: 4rem;
  background-color: grey;
  grid-column: 1/-1;
  /* border-radius: 25px; */
  color: white;
  font-family: monospace;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.keys,
.operator,
.clear {
  height: 4rem;
  width: 4rem;
  /* border-radius: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  font-size: 1.25rem;
  font-family: monospace;
  color: white;
  text-shadow: 1px 1px 5px black;
  transition: all 0.25s ease-in-out;
}

.keys:is(:active, :hover, :focus) {
  background-color: mediumseagreen;
  box-shadow: inset 1px 0px 2px white;
  cursor: pointer;
  scale: 0.9;
}

.operator {
  background-color: blueviolet;
}

.operator:is(:active, :hover, :focus) {
  background-color: rgb(40, 87, 206);
  box-shadow: inset 1px 0px 2px white;
  cursor: pointer;
  scale: 0.9;
}

#clear.clear {
  background-color: greenyellow;
  grid-column: 3/-1;
  width: auto;
}

#clear:is(:hover, :focus) {
  cursor: pointer;
}

#clear:is(:active) {
  background-color: #4dff00;
  box-shadow: inset 1px 0px 2px white;
  cursor: pointer;
  scale: 0.9;
}
